<canvas #renderCanvas touch-action="none"></canvas>
<p #windDetail class="wind-details">wind coming from left</p>

<button #startBtn id="startBtn">start</button>

<div class="game-over-cont close" #gameOverCont>
    <p class="label">Game Over</p>
    <button id="again" #again>again</button>
</div>

<p id="guide" class="guide-p close" #guide></p>
<button id="installGame" #installGame>install</button>

<div class="choose-controller-cont" #chooseControllerCont>
    <p class="label">Use Tilting ?</p>
    <button #yesBtn class="btn">yes</button>
    <button #noBtn class="btn">no</button>
</div>